.homes{
    height: 950px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-size: 78px;
    margin-bottom: 10px;
    margin-left: 20%;

}

.subtitle{
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20%;

}

.front{
    font-size: 15px;
    margin-left: 20%;

}

.button-contact{
    border-color: aquamarine;
    background-color: #Fff;
    width: 300px;
    height: 40px;
    margin-left: 20%;

    
}

.button-contact:hover{
    background-color: aquamarine;
}