
.header{
    background-color: rgb(226, 226, 226);
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    max-width: 1000px;
    height: 91%;
}

.contenedor-img{
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(226, 226, 226);
    justify-content: center;    
    border-bottom: 1px solid rgb(160, 160, 160);
}
.santos{
    width: 90%;
}
.contenedor-menu{
    text-align: center;
    width: 100%;
    height:600px;
    background-color: rgb(226, 226, 226);
    max-height: auto;
    display: flex;
    justify-content: center;    
    flex-direction: column;
}

.navbar{
    color: rgb(7, 7, 7);
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar:hover{
    background-color: rgb(9, 140, 201);
    color: rgb(253, 253, 253);
 
}

.font-nav{
width: 400px;
list-style: none;
text-decoration: none;
font-size: 18px;
color: rgb(7, 7, 7);

}



